<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>


    {% extends 'base.html' %}

    {% block titulo %}
    Gestion en Libreria
    {% endblock %}

    {% block contenido_dinamico %}

    <h4>  Si desea crear un nuevo articulo en Libreria presione  
        <a href="/nueva-libreria/" class="btn btn-primary" >Crear</a>
    </h4>

    {% for libreria in librerias %}

    <div class="card" style="width: 18rem;">
       <div class="card-body">
            <h6>GESTION</h6>
            {% if libreria.image %}
            <img src="{{libreria.image.url}}" class="card-img-top">
            {% else %}
            <img src="/media/images/Cotillon_El_Bau.jpg/" class ="card-img-top">
            {% endif %}
            <h1 class="card-text">{{libreria.name}}.</h1>
            <p class="card-text">Su precio es $ {{libreria.price}}</p>
            <p class="card-text">{{libreria.description}}</p>
            <a href="/eliminar-libreria/{{libreria.id}}" class="btn btn-danger">Eliminar</a>
            <a href="/actualizar-libreria/{{libreria.id}}" class="btn btn-success">Actualizar</a>
           
        
        </div>
    </div>

    {% endfor %}
    
    {% endblock %}
    
    
</body>
</html>