{% extends 'base.html' %}

{% block titulo %}
Nuestro-Proyecto    
{% endblock %}

{% block contenido_dinamico %}





<div class="jumbotron">
    <h1 class="display-4">Nuestro Proyecto</h1>
    
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QJNQRK41a7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h4>"Mi nombre es Mauro Corominas, tengo 34 años, soy de Montevideo, Uruguay.
            Trabajo por mi cuenta realizando clases de entrenamientos físicos.
            En mi tiempo libre me gusta tocar instrumentos y tirar codigos en el visual studio"</h4>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h4>"Mi nombre es Maximiliano Cantero, tengo 34 años. Trabajo como empleado de comercio
            y cuando puedo le doy a la bici y a los juegos"</h4>

    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h4>"Mi nombre es Mauro Zenklusen, tengo 21 años, soy de Rafaela, Santa Fe. Trabajo en una
            fábrica láctea, y como diseñador en una empresa de publicidad. En mis tiempos libres juego al fútbol."
    </ol>
</nav>

{% endblock %}

</body>
</html>