<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    {% extends 'base.html' %}

    {% block titulo %}
    
    Cargar-Artistica
    
    {% endblock %}

    {% block contenido_dinamico %}
    {% if user.is_superuser %}
    <h3>Cargando Articulo en Artistica</h3>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table>

            {{form.as_table}}

        </table>

        <p><input type="submit" value="Enviar"> </p>

    </form>
    {% else %} <h3>Usted no tiene permisos para realizar esta acción</h3>
    {% endif %}
    {% endblock %}
</body>

</html>