<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

    {% extends 'base.html' %}

    {% block titulo %}
    Gestion en Papeleria
    {% endblock %}

    {% block contenido_dinamico %}

    <h4>  Si desea crear un nuevo articulo en Papeleria presione  
        <a href="/nueva-papeleria/" class="btn btn-primary" >Crear</a>
    </h4>

    {% for papeleria in papelerias %}

    <div class="card" style="width: 18rem;">
        {% if papeleria.image %}
        <img src="{{artistica.image.url}}" class="card-img-top">
        {% else %}
        <img src="/media/images/Cotillon_El_Bau.jpg/" class ="card-img-top">
        {% endif %}
        <div class="card-body">
            <h6>GESTION</h6>
            <h1 class="card-text">{{papeleria.name}}.</h1>
            <p class="card-text">Su precio es $ {{papeleria.price}}</p>
            <p class="card-text">{{papeleria.description}}</p>
            <a href="/eliminar-papeleria/{{papeleria.id}}" class="btn btn-danger">Eliminar</a>
            <a href="/actualizar-papeleria/{{papeleria.id}}" class="btn btn-success">Actualizar</a>
           
        
        </div>
    </div>

    {% endfor %}
    
    {% endblock %}
    
</body>
</html>